input, textarea {
  padding-left: 5px;
}

.popup{margin:12px 12px 10px 5px;}
.popup div.row{/* margin-top:8px; */ min-height: 25px; width: 100%;}
.popup div.row div.column{float:left; width: 100%; margin-bottom: 12px;}
.popup div.row div.columnL{float:left; width: 50%; }/*一行显示两列时左列*/
.popup div.row div.columnR{float:right; width: 50%;}/*一行显示两列时右列*/
.popup div.row div.column label.tit{
	float:left; font-size:12px; color:#333; 
	width: 26%; height: 25px; line-height: 25px; text-align: right;
	margin:0px 8px;
}
.popup div.row div.column input,
.popup div.row div.column select,
.popup div.row div.column textarea{
	float:left;  width: 183px; height:23px;line-height:23px;
	border:1px solid #ccc; 
}
.popup div.row div.column select{width: 184px; }
.popup div.row div.column textarea{
	height:80px; vertical-align:top; line-height:13px;
}
.popup div.row div.column span.ui-combobox{float:left; margin-right: 27px;}
.popup div.row div.column span.ui-combobox a{height: 23px; /* width:35px; position: relative; */}
.popup div.row div.column span.mand{float:left; color: red; margin-left: 5px;padding-top: 5px;}

.tit2{
	float:left; font-size:13px; color:#333; 
	width: 26%; height: 25px; line-height: 25px; text-align: right;
	margin:0px 8px;
	font-weight: 600;
}
.mand2{
  color: #cccccc;
  margin-top: 6px;
  margin-left: 10px;
  float: left;
}
